@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  background-color: #232323;
  font-family: "Nunito", sans-serif;
  color: #fff;
}