.app {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  &__wrap {
    min-width: 75vw;
    max-width: 90vw;
  }

  &__section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid rgba(255,255,255,.125);
    border-radius: .5rem;
  }
}