.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  border-radius: .5rem;
  text-align: center;
  transition: box-shadow ease-in-out .12s;

  &:hover,
  &:focus {
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, .025);
  }

  &__avatar {
    margin-bottom: 1rem;
    max-width: 5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }

  &__name {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.1;
  }

  &__role {
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
  }

  &__meta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(.5rem, 2vw, 1rem);
    margin-top: auto;
    width: 100%;
    list-style: none;
    font-size: .75rem;

    &-location,
    &-github {
      display: inline-flex;
      align-items: center;
    }

    &-github {
      &::before {
        content: "";
        margin-right: .25rem;
        aspect-ratio: 1/1;
        width: 1rem;
        background-color: #000;
        border-radius: 50%;
      }
    }
  }

  &[data-show="false"] {
    display: none;
  }
}