.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: .5rem;
  text-align: center;

  &__avatar {
    margin-bottom: 1rem;
    max-width: 5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }

  &__name {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.1;
  }

  &__role {
    margin-top: auto;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.2;
  }

  &__location {
    margin-top: .5rem;
    font-size: .725rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}