@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
  --font: "Google Sans";
}

html,
body {
  margin: 0;
  height: 100vh;
}
