.table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
  border-color: #fff;

  th {
    text-align: left;
  }

  th,
  td {
    padding: .5rem;
  }

  td {
    border: 1px solid rgba(255,255,255,.1);
  }

  &__cell--right {
    text-align: right !important;
  }

  &__body {
    background-color: rgba(255,255,255,.025);
  }

  &__button {
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border: 1px solid #fff;
    line-height: 2;
    background-color: transparent;
    border-radius: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: #fff;

    &::before {
      content: "\d7";
    }

    &:hover {
      cursor: pointer;
    }
  }
}